* {
    box-sizing: border-box;
}

div.top {
    display: flex;
    margin-bottom: 10px;
}
button {
    margin: auto;
}

.row {
    display: flex;
}

div.row > div{
    border: 1px solid brown;
    padding: 10px;
    flex: auto;
}

.hover{
    background-color: aquamarine;
}